# Configurações do servidor
PORT=3001
NODE_ENV=development

# Banco de Dados (PostgreSQL)
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=seu_banco
POSTGRES_PORT=5433
DATABASE_URL=postgresql://seu_usuario:sua_senha@localhost:5433/seu_banco?schema=public

# Credenciais do Administrador (Seed)
ADMIN_NAME="Nome da Administradora"
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=senha_segura_aqui
ADMIN_PHONE="11999999999"

# Autenticação JWT
JWT_SECRET=
JWT_EXPIRES_IN=1h

